<script>
function loadDisqus(){
    var d = document, s = d.createElement('script');  
    s.src = 'https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js';

    l = d.createElement('link');
    l.href = "https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqusjs.css";
    l.setAttribute('rel', 'stylesheet');

    (d.head || d.body).appendChild(s);
    d.head.appendChild(l);
    s.onload = function (){
        var dsqjs = new DisqusJS({
            shortname: 'zeddyu',
            siteName: 'blog.zeddyu.info',
            identifier: document.location.origin + document.location.pathname + document.location.search,
            url: document.location.origin + document.location.pathname + document.location.search,
            title: document.title,
            api: "https://blog.zeddyu.info/api/",
            apikey: '57m1j10pU1WfesAhs8Ri3OcmPEaRmoyIuNCPcYaUu6mqWu6Ek4qvRiQf9CXl2JoH',
            admin: 'ZeddYu',
            adminLabel: ''
        });
    }
    
};
var runningOnBrowser = typeof window !== "undefined";

var isBot =
    (runningOnBrowser && !("onscroll" in window)) ||
    (typeof navigator !== "undefined" &&
        /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(
            navigator.userAgent
        ));

setTimeout(function() {
    if (!isBot) {
        loadDisqus();
    }
}, 1);
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js"></script> -->
<div id="disqus_thread"></div>